<%= form_for @changeset, @action, fn f -> %>
<div class="form-group">
  <%= text_input f, :name, placeholder: "Name", class: "form-control" %>
</div>
<div class="form-group">
  <%= text_input f, :url, placeholder: "URL", class: "form-control" %>
</div>
<div class="form-group">
  <%= select f, :frequency, monitor_frequency_menu_options(), prompt: "Frequency" %>
</div>
<%= submit "Save", class: "btn btn-primary" %>
<% end %>
