<div>
  <h1>Monitors</h1>
  <ol class="nav text-right">
    <li><%= link "New Monitor", to: monitor_path(@conn, :new) %></li>
  </ol>
</div>

<table id="monitors" class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Frequency</th>
    <th></th>
  </tr>
  <%= for monitor <- @monitors do %>
    <tr id="monitor-<%= monitor.id %>">
      <td><%= monitor.name %></td>
      <td><%= monitor_frequency_display(monitor.frequency) %></td>
      <td>
        <%= link("Edit",
          to: monitor_path(@conn, :edit, monitor),
          class: "btn btn-primary btn-xs",
          data: [role: "edit-button"])%>
        <%= link("Delete",
          to: monitor_path(@conn, :delete, monitor),
          method: :delete,
          class: "btn btn-danger btn-xs",
          data: [role: "delete-button", confirm: "Are you sure?"]) %>
      </td>
    </tr>
  <% end %>
</table>
