<h1>Register</h1>

<%= form_for @changeset, user_path(@conn, :create), fn f ->  %>
<div class="form-group">
  <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
  <%= error_tag f, :email %>
</div>
<div class="form-group">
  <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  <%= error_tag f, :password %>
</div>
<div class="form-group">
  <%= password_input f, :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
  <%= error_tag f, :password_confirmation %>
</div>
<%= submit "Register", class: "btn btn-primary" %>
<% end %>
